# Python build files
build/
build
dist/
dist
*.egg-info/
*.egg

# PyPI API token yoki maxfiy fayllar
.pypirc

# __pycache__ va compilatsiya qilingan Python fayllari
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual muhit
venv/
env/
*.venv
.Python

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
*.bak

# Logs & Temporary files
*.log
.DS_Store
.pypirc
